* {
	margin: 0px;
	padding: 0px;
}


body {
	background: #fff;
	margin: 0px;
	padding: 0px;
}



header {
	background: #8A0808;
	color: #fff;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: auto;
	height: auto;
	font-size: 20px;
}

.header-content {
    width:100%;
    position:fixed;
    top:0px;
    background: #8A0808;
	color: #fff;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	font-size: 15px;
}


.header-content a {
	padding-top: 5px;
	color: #fff;
}



header a {
	color: #fff;
}

header a:visited {
	color: #fff;
}

header a:link {
	color: #fff;
}

header a:active {
	color: #fff;
}

header a:hover {
	color: #fff;
}


.Listado {
	margin: 0px;
	padding: 0px;

}


ul {
	background: #fff;
	margin: 5px;
	border-radius: 10px 10px 10px 10px;
}


ul li {
	background: #fff;
	padding:3px;
	margin-bottom: 3px;
	border-color: #8A0808;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	
}

.tarjeta {
	background: #fff;
	border-color: #000;
	border:12px;
}

}

.tarjeta h1 {
	font-size: 15px;
	color:blue;
}

.tarjeta h2 {
	font-size: 10px;
	color: blue;
}


.tarjeta h3 {
	font-size: 7px;
	color:red;
}

